*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;

}


header{
    padding: 10px 40px;
    background-color: aquamarine;
    text-align: center;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

#Imagen {
    width: 150px;
    height: 150px;
}

header > h1{
    text-align: right;
    margin-left: 400px;
    padding-top: 70px;
}

nav{
    display: flex;
    flex-direction: row ;
    background-color: #333;
}

nav a {
    color: aliceblue;
    padding: 14px 5px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30px;
    background-color: beige;
    padding: 20px;
}
section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

@media  screen and (max-width:700px){
    nav, .row{
        flex-direction: column;
    }
}