*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;

}

.Form-Register{
    width: 400px;
    padding: 30px;
    background-color: #24303c;
    margin:auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

.Form-Register > h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
     width: 100%;
     background-color: #24303c;
     padding: 10px;
     border-radius: 4px;
     margin-bottom: 16px;
     border: 1px solid ;
}

.Form-Register > a {
    color: white;
    text-decoration: none;
}

.Form-Register > a:hover {
    color: white;
    text-decoration: underline;
}

.Form-Register > Btn-registrarse{
    width: 100%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
}